* {
  margin: 0;
  position: relative;
}
header {
  background-color: rgb(0, 0, 0);
  padding: 3px;
  color: aliceblue;
  text-align: center;
}
body {
  background-color: powderblue;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
main {
  padding: 30px 50px;
  
}
.card {
  text-align: center;
  margin-top: 15px;
  border-radius: 5px; 
  width: 80%;
  margin-left: 20%; 
}
button {
  border: 0px;
  padding: 15px;
  outline: 0px;
  background-color: rgb(32, 134, 63);
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  transition: all ease 0.3s;
  bottom: 10px;
}
button:hover {
  background-color: rgb(81, 25, 133);
  font-style: oblique;
}
.content{
  margin-top: 55px;
  width: 80%;
  margin-left: 20%;
}
table{
  text-align: center;
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  width: 70%;
  background-color: #fff;
  font-weight: bold;
}
table th{
  background-color: antiquewhite;
  text-align: left;
  padding-left: 4%;
  font-size: 120%;
}
table td img {
  width: 22px;
  padding: 6px;
}
.center{
  text-align: center;
}
.title{
  background-color: #fff;
  width: 15% ;
  text-align: center;
  border: 2px solid ;
  border-radius: 5px;
}
input{
  border-radius: 5px;
  text-align: center;
  width: 20%;
  padding: 1%;
  font-size: 18px;
}
/* .base{
  position: absolute;
  bottom: 60%;
  text-align: left;
  padding-left: 10px;
  padding-right: 30px;
  font-weight: bold;
  font-style: oblique;
  background-color: rgb(205, 209, 208);
  color: green;
  line-height: 40px;
} */
footer {
  position: absolute;
  bottom: 690%;
  text-align: left;
  padding-left: 10px;
  padding-right: 30px;
  font-weight: bold;
  font-style: oblique;
  background-color: rgb(255, 255, 255);
  color: rgb(5, 5, 5);
  line-height: 40px;
  margin-bottom: 15.5%;
}
footer:hover{
  background-color: rgb(128, 189, 71);
  font-style: oblique;
}